; Topmost EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{cs, csproj, fsproj, java, kt, kts, xml}]
indent_style = space
indent_size = 2
tab_width = 2

[*.{fs}]
indent_style = space
indent_size = 
