<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Artifactory" value="http://repo.labs.intellij.net/api/nuget/dotnet-build" />
    <add key="rider-sdk-private" value="http://repo.labs.intellij.net/api/nuget/rider-sdk-private" />
  </packageSources>
</configuration>